# webservise dependensies ------------------------------------------------------
fastapi
httpx
pytest
python-multipart
uvicorn

# image processing dependensies ------------------------------------------------
Pillow
